<body id="app"></body>
<script type="module">
    import { createApp, ref } from "vue"
    import { analyse_file } from "components/wizard_file_metadata.js"
    import WizardQuestionCheck from "components/wizard_question_check.js"
    import SharedHeader from "components/shared_header.js"
    import SharedFooter from "components/shared_footer.js"

    createApp(
    {
        components:
        {
            "wizard-question-check": WizardQuestionCheck,
            "shared-header": SharedHeader,
            "shared-footer": SharedFooter,
        },
        setup()
        {
            const wizzard_question_options_formats1 = 
            [
                { name: "bmp", title: ".bmp", group: "Image" },
                { name: "gif", title: ".gif", group: "Image" },
                { name: "png", title: ".png", group: "Image" },
                { name: "jpg", title: ".jpg", group: "Image" },
                { name: "image_other", title: "Other", group: "Image" },
                { name: "wav", title: ".wav", group: "Video" },
                { name: "video_other", title: "Other", group: "Video" },
                { name: "vti", title: ".vti", group: "Volume" },
                { name: "volume_other", title: "Other", group: "Volume" },
                { name: "obj", title: ".obj", group: "Geometry" },
                { name: "gltf", title: ".gltf", group: "Geometry" },
                { name: "glb", title: ".glb", group: "Geometry" },
                { name: "fbx", title: ".fbx", group: "Geometry" },
                { name: "ply", title: ".ply", group: "Geometry" },
                { name: "stl", title: ".stl", group: "Geometry" },
                { name: "geometry_other", title: "Other", group: "Geometry" },
                { name: "csv", title: ".csv", group: "Table" },
                { name: "xlsx", title: ".xlsx", group: "Table" },
                { name: "table_other", title: "Other", group: "Table" }
            ];

            const wizzard_question_options_formats2 = 
            [
                { name: "vti", title: ".vti", group: "Volume1" }
            ];

            const wizard_question_index = ref(0);
            const wizard_question_options = ref(
            [
                wizzard_question_options_formats1,
                wizzard_question_options_formats2
            ]);
            const wizard_question_titles = ref(
            [
                "Formats",
                "Formats2",
            ]);
            const wizard_questions = ref(
            [
                "wizard-question-check",
                "wizard-question-check"
            ]);
            const wizard_answers = ref({});


            const wizard_test = ref("");

            function on_wizard_question_back()
            {
                if(wizard_question_index.value > 0)
                {
                    wizard_question_index.value = wizard_question_index.value - 1;
                }
            }

            function on_wizard_question_next()
            {
                if(wizard_question_index.value < wizard_questions.value.length)
                {
                    wizard_question_index.value = wizard_question_index.value + 1;
                }
            }

            function on_wizard_show()
            {
                console.log("wizard_show");
            }

            async function on_wizard_drop(event)
            {
                event.preventDefault();
                event.stopPropagation()

                for(const item of event.dataTransfer.items)
                {
                    if(item.kind =="file")
                    {
                        const file = item.getAsFile();

                        wizard_test.value = JSON.stringify(await analyse_file(file));
                    }
                }
            }

            function on_wizard_drag_prevent_default(event)
            {
                event.preventDefault();
                event.stopPropagation()
            }

            return {
                wizard_question_index,
                wizard_question_options,
                wizard_question_titles,
                wizard_questions,
                wizard_answers,
                wizard_test,
                on_wizard_question_back,
                on_wizard_question_next,
                on_wizard_show,
                on_wizard_drop,
                on_wizard_drag_prevent_default
            }
        },
        template:
        `
        <header>
            <shared-header></shared-header>
        </header>
        <main class="bg-body-tertiary py-3">
            <div class="container">
                <div class="card p-3">
                    <ul class="nav nav-tabs mb-3">
                        <li v-for="(title, index) of wizard_question_titles" class="nav-item">
                            <button :class="'nav-link ' + ((index == wizard_question_index) ? 'active' : '')" @click="wizard_question_index = index" style="transition: 0s">{{ title }}</button>
                        </li>
                    </ul>
                    <div class="tab-content mb-3">
                        <div v-for="(question, index) of wizard_questions" :id="'wizzard_question_' + index" :class="'tab-pane ' + ((index == wizard_question_index) ? 'active' : '')">
                            <component :is="question" v-model:answers="wizard_answers" :options="wizard_question_options[index]"></component>
                        </div>
                    </div>
                    <div class="border rounded d-flex align-items-center justify-content-center" style="height: 200px" @drop="on_wizard_drop" @dragover="on_wizard_drag_prevent_default" @dragenter="on_wizard_drag_prevent_default">
                        <img src="symbols/download_dark.svg" width="50px">
                    </div>
                    <div>
                        {{wizard_test}}
                    </div>
                    <div class="d-flex justify-content-between align-item-center">
                        <button v-if="wizard_question_index > 0" class="btn btn-primary" @click="on_wizard_question_back">Back</button>
                        <button v-if="wizard_question_index < wizard_questions.length - 1" class="btn btn-primary ms-auto" @click="on_wizard_question_next">Next</button>
                        <button v-else class="btn btn-primary ms-auto" @click="on_wizard_show">Show</button>
                    </div>
                </div>
            </div>
        </main>
        <footer>
            <shared-footer class="container py-5"></shared-footer>
        </footer>
        `
    }).mount("#app");
</script>