<main id="home">
    <div class="home-background-image">
        <div class="container py-5">
            <div class="d-flex justify-content-center align-items-center">
                <div class="px-2 home-blue-text" style="font-size: 50px;">DaVE</div>
                <div class="px-2 border-start" style="font-size: 40px;">
                    A curated 
                    <span class="home-blue-text">Da</span>tabase of 
                    <span class="home-blue-text">V</span>isualization 
                    <span class="home-blue-text">E</span>xamples
                </div>
            </div>
        </div>
        <div class="container-sm d-flex justify-content-center pt-5" style="padding-bottom: 200px;">
            <div class="position-relative w-100" style="max-width: 700px">
                <div id="search_bar" class="form-control shadow-sm w-100" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px;">
                    <div class="d-flex">                     
                        <tag v-for="tag in location_search_tags" :name="tag.name" :type="tag.type" add_class="me-1" @on_tag_remove="on_query_tag_remove(tag)"></tag>
                        <input id="search_input" class="flex-fill" style="border: none; outline: none;" type="text" placeholder="Search" @input="on_query_change" @keydown.delete="on_query_delete" @keydown.enter="on_query_search">
                    </div>
                </div>
                <ul id="search_suggestions" class="dropdown-menu shadow-sm position-absolute top-100 w-100" style="inset: 0px 0px auto 0px; border-top-left-radius: 0px; border-top-right-radius: 0px; border-top-width: 0px;">
                    <li v-for="string in location_search_name_suggestions">
                        <button type="button" class="dropdown-item" @click="on_query_suggestion_click(string)"> 
                            {{string}} 
                        </button>
                    </li>
                    <li v-if="location_search_name_suggestions.length > 0 && location_search_tag_suggestions.length > 0">
                        <hr class="dropdown-divider">
                    </li>
                    <li class="d-flex" style="padding-left: 12px; padding-right: 12px;">
                        <tag v-for="tag in location_search_tag_suggestions" :name="tag.name" :type="tag.type" add_class="me-1" @on_tag_click="on_query_tag_add(tag)"></tag>
                    </li>
                </ul>
            </div>
            <button class="btn btn-primary shadow-sm" type="button" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px;" @click="on_query_search">Search</button>
        </div>
    </div>
    <div id="app" class="container-flow py-4 bg-body-tertiary">
        <div class="container">
            <Test></Test>
            <div class="row row-cols-1 row-cols-md-2 g-4">
                <div class="col">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">Wizzard</h5>
                            <p class="card-text">Use the wizzard to get a siutable visualisation technique and examles by answering some questions. The wizzard can also be used to explore techniques that you might not have known before.</p>
                        </div>
                        <div class="p-3">
                            <a href="/wizzard" class="btn btn-primary float-end">Start {{message}}</a>
                        </div>
                    </div>
                </div>
                <div class="clo">
                    <div class="card shadow-sm h-100">
                        <div class="card-body">
                            <h5 class="card-title">About</h5>
                            <p class="card-text">Get more information about the project.</p>
                        </div>
                        <div class="p-3">
                            <a href="/about" class="btn btn-primary float-end">Show</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<script type="module">
    import { createApp, ref } from 'vue'
    import test from 'components/home_card.js'

    var app = createApp({
      setup() {
        const message = ref('Hello Vue!')
        return {
          message
        }
      }
    })
    app.component("test", test);
    app.mount("#app");
  </script>