<main id="technique">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Configure</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="carouselModal" class="carousel slide mb-2" style="height: 200px;">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <p>Enter the path to the dataset that should be visualized.</p>
                                <input type="text" class="form-control" placeholder="Dataset" aria-label="Dataset" aria-describedby="basic-addon1">
                            </div>
                            <div class="carousel-item">
                                <p>Enter the path to the dataset that should be visualized.</p>
                                <ul class="list-unstyled ms-4 mb-5">
                                    <li>
                                        <div class="form-check">
                                            <input id="option_checkbox" class="form-check-input" type="checkbox" value="">
                                            <label class="form-check-label" for="option_checkbox">Test</label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex justify-content-between">
                    <button type="button" class="btn btn-primary" data-bs-target="#carouselModal" data-bs-slide="prev">Back</button>
                    <button type="button" class="btn btn-primary" data-bs-target="#carouselModal" data-bs-slide="next">Next</button>
                </div>
            </div>
        </div>
    </div>
    <div class="pt-4 mb-4"> <!--bg-body-tertiary-->
        <div id="carouselExampleIndicators" class="carousel carousel-dark slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="w-100 d-flex justify-content-center">
                        <img src="database/direct_volume_rendering/images/volumerender.png" class="d-block" style="height: 300px;">
                    </div>
                </div>
                <!--<div class="carousel-item">
                    <div class="w-100 d-flex justify-content-center">
                        <img src="/database/techniques/iso_surfaces/images/iso_surface1.png" class="d-block" style="height: 300px;">
                    </div>
                </div>-->
                <div style="width: 100%; height: 100%; position: absolute; z-index: 1;">
                    <div class="container d-flex justify-content-between align-items-center" style="height: 100%;">
                        <button class="carousel-control-prev" style="position: initial; top: initial; bottom: initial; z-index: inherit; display: initial; align-items: initial; justify-content: initial; width: auto;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" style="position: initial; top: initial; bottom: initial; z-index: inherit; display: initial; align-items: initial; justify-content: initial; width: auto;" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>                 
                </div>
            </div>
            <div class="carousel-indicators container mt-4" style="position: initial; right: initial; bottom: initial; left: initial; z-index: initial; margin-left: auto; margin-right: auto; margin-bottom: 0px;">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <!--<button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>-->
            </div>            
        </div>
    </div>
    <div class="container mb-4">
        <h1 class="mb-2">{{location_name}}</h1>
        <div class="d-flex">
            <template v-for="tag in location_tags">
                <div class="btn badge text-primary-emphasis bg-primary-subtle border border-primary-subtle d-flex align-items-center me-1" style="height: 25px;" v-if="tag.type == 'technique'">
                    {{ tag.name }}
                </div>
                <div class="btn badge text-success-emphasis bg-success-subtle border border-success-subtle d-flex align-items-center me-1" style="height: 25px;" v-if="tag.type == 'domain'">
                    {{ tag.name }}
                </div>
            </template>
        </div>
    </div>
    <div class="container mb-4" v-html="location_description"></div>
    <div class="w-100 py-4 bg-body-tertiary">
        <div class="container">
            <div class="card shadow-sm mb-4">
                <div class="card-body d-flex justify-content-between align-items-center">
                    <label>Render Script</label>
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Create
                    </button>
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-body">
                    <table class="table align-middle">
                        <thead>
                            <tr>
                                <th scope="col">Name</th>
                                <th scope="col" class="d-none d-sm-table-cell">Type</th>
                                <th scope="col" class="d-none d-md-block">Date</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td scope="row">volumerender_trace.py</td>
                                <td class="d-none d-sm-table-cell">Script</td>
                                <td class="d-none d-md-table-cell">17.11.2023</td>
                                <td>
                                    <button class="btn btn-primary float-end me-3" style="padding-left: 8px; padding-right: 8px; padding-top: 3px; padding-bottom: 3px;">
                                        <img src="symbols/download.svg"/>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td scope="row">kitware/paraview:pv-v5.7.1-osmesa-py3</td>
                                <td class="d-none d-sm-table-cell">Container</td>
                                <td class="d-none d-md-table-cell">17.11.2023</td>
                                <td>
                                    <button class="btn btn-primary float-end me-3" style="padding-left: 8px; padding-right: 8px; padding-top: 3px; padding-bottom: 3px;">
                                        <img src="symbols/link-45deg.svg"/>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</main>