@layer website, syntax_highlight;

@import "~bootstrap/scss/bootstrap";
@import "~highlight.js/styles/xcode.css" layer(syntax_highlight);

@layer website
{
    .hljs
    {
        background: none;
    }
}

.tag-removable-image
{
    width: 18px;
    height: 18px;
    background-size: cover;
    background-image: url("../assets/icons/x_circle_fill.svg");
}

.tag-highlight-technique
{
    outline: 2px solid var(--bs-primary-border-subtle) !important;
    outline-offset: -1px;
}

.tag-highlight-domain
{
    outline: 2px solid var(--bs-success-border-subtle) !important;
    outline-offset: -1px;
}

.outline a.nav-link
{
    color: black;
    font-size: 0.8125rem;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: var(--bs-gray-300);
    padding-left: calc(var(--outline_indent) * 15 + 20px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
}

.outline a.nav-link.active
{
    color: black;
    font-size: 0.8125rem;
    border-left-width: 3px;
    border-left-style: solid;
    border-left-color: var(--bs-primary);
    padding-left: calc(var(--outline_indent) * 15 + 20px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    background-color: color-mix(in srgb, var(--bs-primary-bg-subtle) 30%, var(--bs-white));
}

.outline a[outline_indent="0"].nav-link
{
    font-size: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.shared-header-search-bar
{
    background-image: url(../assets/icons/search_dark.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px !important;
    transition: max-width 0.05s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.shared-header-toggle
{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important
}

.shared-footer-legal > *
{
    font-size: 13px !important;
    color: var(--bs-gray-600) !important;
    text-decoration: none !important;
}

.home-background-image
{
    background-image: url("/images/home_background.png"); 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: bottom;
}

.home-logo-large
{
    font-size: 50px;
}

.home-logo-small
{
    font-size: 40px;
}

.home-logo-blue
{
    color: #176fc1;
}

.browser-header-search-bar
{
    background-image: url(../assets/icons/search_dark.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px !important;
    transition: max-width 0.05s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.browser-header-toggle
{
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1.0%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important
}

.browser-header-dropdown::after
{
    color: white;
}

.browser-filter-toggle-arrow[aria-expanded="true"] > img
{
    transform: rotate(0deg);
}

.browser-filter-toggle-arrow > img
{
    transform: rotate(-90deg);
    transition: transform 0.35s ease;
}

.browser-filter-date-slider-container,
.browser-filter-date-slider-track-outer,
.browser-filter-date-slider-track-inner,
.browser-filter-date-label-container,
.browser-filter-date-label
{
    --bs-form-range-thumb-width: 1rem;
    --bs-form-range-thumb-height: var(--bs-form-range-thumb-width);
    --bs-form-range-thumb-focus-box-shadow-width: 0.25rem;
}

.browser-filter-date-slider-container
{
    position: relative;
    height: calc(var(--bs-form-range-thumb-height) + var(--bs-form-range-thumb-focus-box-shadow-width) * 2);
}

.browser-filter-date-slider-track-outer,
.browser-filter-date-slider-track-inner
{
    position: absolute;
    height: 0.5rem;
    top: calc(50% - 0.25rem);
    border-radius: 1rem;
    z-index: 0;
}

.browser-filter-date-slider-track-outer
{
    background-color: var(--bs-secondary-bg);
}

.browser-filter-date-slider-track-inner
{
    background-color: var(--bs-primary-border-subtle);
}

.browser-filter-date-slider-input
{
    position: absolute;
    pointer-events: none;
}

.browser-filter-date-slider-input::-moz-range-track
{
    visibility: hidden;
}

.browser-filter-date-slider-input::-webkit-slider-runnable-track
{
    visibility: hidden;
}

.browser-filter-date-slider-input::-moz-range-thumb
{
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
}

.browser-filter-date-slider-input::-webkit-slider-thumb
{
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
}

.browser-filter-date-label-container,
.browser-filter-date-label
{
    --label-width: 70px;
    --label-height: 28px;
    --label-margin: 4px;
}

.browser-filter-date-label-container
{
    position: relative; 
    height: calc(var(--label-height) + 2 * var(--label-margin));
    margin-left: calc(var(--bs-form-range-thumb-width) / 2);
    margin-right: calc(var(--bs-form-range-thumb-width) / 2);
}

.browser-filter-date-label-left,
.browser-filter-date-label-right
{
    --label-gap: 6px;
    --label-left: 0%;
    --label-right: 100%;
    --label-center-bound-left: calc(0% + var(--label-width) - var(--bs-form-range-thumb-width) / 2 + var(--label-gap) / 2);
    --label-center-bound-right: calc(100% - var(--label-width) + var(--bs-form-range-thumb-width) / 2 - var(--label-gap) / 2);
    --label-center: calc(min(max(var(--label-left) / 2 + var(--label-right) / 2, var(--label-center-bound-left)), var(--label-center-bound-right)));

    position: absolute;
    width: var(--label-width);
    height: var(--label-height);
    top: var(--label-margin);
    left: calc(var(--label-location) - var(--label-width) / 2);
    font-size: calc(1rem * 0.75);
}

.browser-filter-date-label-left
{
    --label-bound-left: calc(var(--label-width) / 2 - var(--bs-form-range-thumb-width) / 2);
    --label-bound-right: calc(var(--label-center) - var(--label-gap) / 2 - var(--label-width) / 2);
    --label-location: calc(min(max(var(--label-left), var(--label-bound-left)), var(--label-bound-right)));
}

.browser-filter-date-label-right
{
    --label-bound-left: calc(var(--label-center) + var(--label-gap) / 2 + var(--label-width) / 2);
    --label-bound-right: calc(100% - var(--label-width) / 2 + var(--bs-form-range-thumb-width) / 2);
    --label-location: calc(min(max(var(--label-right), var(--label-bound-left)), var(--label-bound-right)));
}

.browser-filter-tag-search-bar
{
    background-image: url(../assets/icons/search.svg);
    background-repeat: no-repeat;
    background-position: 10px center;
    padding-left: 35px !important;
    transition: max-width 0.05s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out !important;
}

.visualization-description pre
{
    padding: 0.75rem 1.25rem;
    border: solid var(--bs-border-color);
    background-color: var(--bs-tertiary-bg);
    border-width: 1px;
    border-radius: var(--bs-border-radius);
}

.visualization-description p
{
    text-align: justify;
}

.visualization-description strong
{
    font-weight: 600;
}

.visualization-description [href^="#"]::before
{
    content: "[";
    font-weight: 600;
}

.visualization-description [href^="#"]
{
    color: var(--bs-body-color);
    text-decoration: none;
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.visualization-description [href^="#"]::after
{
    content: "]";
    font-weight: 600;
}

.visualization-description #References a
{
    color: var(--bs-body-color);
    text-decoration: none;
}

.visualization-description #References ol
{
    padding-left: 2.5rem;
    margin-bottom: -0.75rem;
    counter-reset: reference;
}

.visualization-description #References ol li
{
    margin-bottom: 0.75rem;
    counter-increment: reference;
}

.visualization-description #References ol li::marker
{
    content: "[" counter(reference) "] ";
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}

.visualization-description div
{
    scroll-margin-top: 80px;
}

.visualization-resources-table th, td
{
    background-color: rgb(252, 252, 253) !important;
}

.guide-content div
{
    scroll-margin-top: 80px;
}

.guide-content p
{
    text-align: justify;
}

.guide-content pre
{
    padding: 0.75rem 1.25rem;
    border: solid var(--bs-border-color);
    background-color: var(--bs-tertiary-bg);
    border-width: 1px;
    border-radius: var(--bs-border-radius);
}

.about-content div
{
    scroll-margin-top: 80px;
}

.about-content p
{
    text-align: justify;
}