.tag-removable-image
{
    width: 18px;
    height: 18px;
    background-size: cover;
    background-image: url("symbols/x_circle_fill.svg");
}

.tag-highlight-technique
{
    outline: 2px solid var(--bs-primary-border-subtle) !important;
    outline-offset: -1px;
}

.tag-highlight-domain
{
    outline: 2px solid var(--bs-success-border-subtle) !important;
    outline-offset: -1px;
}

.footer-table
{
    font-size: 11px;
    white-space: nowrap;
}

.home-background-image
{
    background-image: url("/images/home_background.png"); 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: bottom;
}

.home-logo-large
{
    font-size: 50px;
}

.home-logo-small
{
    font-size: 40px;
}

.home-logo-blue
{
    color: #176fc1;
}

.browser-search-bar::placeholder
{
    color: white !important;
}

.browser-filter-toggle-arrow[aria-expanded="true"] > img
{
    transform: rotate(0deg);
}

.browser-filter-toggle-arrow > img
{
    transform: rotate(-90deg);
    transition: transform 0.35s ease;
}

.browser-filter-date-slider-container,
.browser-filter-date-slider-track-outer,
.browser-filter-date-slider-track-inner,
.browser-filter-date-label-container,
.browser-filter-date-label
{
    --bs-form-range-thumb-width: 1rem;
    --bs-form-range-thumb-height: var(--bs-form-range-thumb-width);
    --bs-form-range-thumb-focus-box-shadow-width: 0.25rem;
}

.browser-filter-date-slider-container
{
    position: relative;
    height: calc(var(--bs-form-range-thumb-height) + var(--bs-form-range-thumb-focus-box-shadow-width) * 2);
}

.browser-filter-date-slider-track-outer,
.browser-filter-date-slider-track-inner
{
    position: absolute;
    height: 0.5rem;
    top: calc(50% - 0.25rem);
    border-radius: 1rem;
    z-index: 0;
}

.browser-filter-date-slider-track-outer
{
    background-color: var(--bs-secondary-bg);
}

.browser-filter-date-slider-track-inner
{
    background-color: var(--bs-primary-border-subtle);
}

.browser-filter-date-slider-input
{
    position: absolute;
    pointer-events: none;
}

.browser-filter-date-slider-input::-moz-range-track
{
    visibility: hidden;
}

.browser-filter-date-slider-input::-webkit-slider-runnable-track
{
    visibility: hidden;
}

.browser-filter-date-slider-input::-moz-range-thumb
{
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
}

.browser-filter-date-slider-input::-webkit-slider-thumb
{
    visibility: visible;
    pointer-events: all;
    cursor: pointer;
}

.browser-filter-date-label-container,
.browser-filter-date-label
{
    --label-width: 70px;
    --label-height: 28px;
    --label-margin: 4px;
}

.browser-filter-date-label-container
{
    position: relative; 
    height: calc(var(--label-height) + 2 * var(--label-margin));
    margin-left: calc(var(--bs-form-range-thumb-width) / 2);
    margin-right: calc(var(--bs-form-range-thumb-width) / 2);
}

.browser-filter-date-label-left,
.browser-filter-date-label-right
{
    --label-gap: 6px;
    --label-left: 0%;
    --label-right: 100%;
    --label-center-bound-left: calc(0% + var(--label-width) - var(--bs-form-range-thumb-width) / 2 + var(--label-gap) / 2);
    --label-center-bound-right: calc(100% - var(--label-width) + var(--bs-form-range-thumb-width) / 2 - var(--label-gap) / 2);
    --label-center: calc(min(max(var(--label-left) / 2 + var(--label-right) / 2, var(--label-center-bound-left)), var(--label-center-bound-right)));

    position: absolute;
    width: var(--label-width);
    height: var(--label-height);
    top: var(--label-margin);
    left: calc(var(--label-location) - var(--label-width) / 2);
    font-size: calc(1rem * 0.75);
}

.browser-filter-date-label-left
{
    --label-bound-left: calc(var(--label-width) / 2 - var(--bs-form-range-thumb-width) / 2);
    --label-bound-right: calc(var(--label-center) - var(--label-gap) / 2 - var(--label-width) / 2);
    --label-location: calc(min(max(var(--label-left), var(--label-bound-left)), var(--label-bound-right)));
}

.browser-filter-date-label-right
{
    --label-bound-left: calc(var(--label-center) + var(--label-gap) / 2 + var(--label-width) / 2);
    --label-bound-right: calc(100% - var(--label-width) / 2 + var(--bs-form-range-thumb-width) / 2);
    --label-location: calc(min(max(var(--label-right), var(--label-bound-left)), var(--label-bound-right)));
}

.visualization-description pre
{
    padding: 0.75rem 1.25rem;
    border: solid var(--bs-border-color);
    background-color: var(--bs-tertiary-bg);
    border-width: 1px;
    border-radius: var(--bs-border-radius);
}

.visualization-description p
{
    text-align: justify;
}

.visualization-description a
{
    color: var(--bs-body-color);
    text-decoration: none;
}

.visualization-description strong
{
    font-weight: 600;
}

.visualization-reference
{
    font-weight: 600;
    font-variant-numeric: tabular-nums;
}