.home-background-image
{
    background-image: url("/images/home_background.png"); 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: bottom;
}

.home-logo-large
{
    font-size: 50px;
}

.home-logo-small
{
    font-size: 40px;
}

.home-logo-blue
{
    color: #176fc1
}

.footer-table
{
    font-size: 11px;
    white-space: nowrap;
}

.browser-search-bar::placeholder
{
    color: white
}

.browser-filter-toggle-arrow[aria-expanded="true"] > img
{
    transform: rotate(0deg);
}

.browser-filter-toggle-arrow > img
{
    transform: rotate(-90deg);
    transition: transform 0.35s ease;
}

.browser-filter-date-slider-container
{
    position: relative;
    height: 1.5rem;
}

.browser-filter-date-slider-track-outer,
.browser-filter-date-slider-track-inner
{
    position: absolute;
    height: 0.5rem;
    top: calc(50% - 0.25rem);
    border-radius: 1rem;
    z-index: 0;
}

.browser-filter-date-slider-track-outer
{
    background-color: var(--bs-secondary-bg);
}

.browser-filter-date-slider-track-inner
{
    background-color: var(--bs-primary-border-subtle);
}

.browser-filter-date-slider-input
{
    position: absolute;
    pointer-events: none;
}

.browser-filter-date-slider-input::-moz-range-track,
.browser-filter-date-slider-input::-webkit-slider-runnable-track
{
    visibility: hidden;
}

.browser-filter-date-slider-input::-moz-range-thumb,
.browser-filter-date-slider-input::-webkit-slider-thumb
{
    pointer-events: all;
    cursor: pointer;
}





















pre
{
    padding: 0.75rem 1.25rem;
    border: solid var(--bs-border-color);
    background-color: var(--bs-tertiary-bg);
    border-width: 1px;
    border-radius: var(--bs-border-radius);
}