.home-background-image
{
    background-image: url("/images/home_background.png"); 
    background-size: cover; 
    background-position-x: center; 
    background-position-y: bottom;
}

.home-blue-text
{
    color: #176fc1
}

.toggle-arrow[aria-expanded="true"]::before
{
    transform: rotate(90deg);
}

.toggle-arrow::before
{
    width: 1.25em;
    line-height: 0;
    content: url("/symbols/toggle-arrow.svg");
    transition: transform 0.35s ease;
    transform-origin: 0.5em 50%;
}

.search-bar::placeholder
{
    color: white
}